*{
   padding: 0;
   margin: 0;
}
body {
   background-color: #333;
}

main {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.Container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10rem;
}

h1 {
   color: #fff;
   font-size: 3.5rem;
   padding-bottom: 1rem;
}

.overlay {  
   background-color: #333;
   position: fixed;   
   opacity: 1;
   top: 17rem;
   left: 50vw;
   width: 60vw;
   height: 5rem;
   transform: translate(-50%, -50%);
   color: black;
}

.text {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   font-size: 2rem;
   padding-bottom: 1rem;
   font-size: 3.5rem;
   color: #fff;
}

.Remove {
   display: none;
}